extends base

mixin test(title, description, id)
  div(class=word)= title + ' ' + description
    
block content
    section#splash
        img.splash(src="/static/images/title.svg")
        div.intro
            | We know nothing, Jon Snow—but we’ll make our best guess. We’ve broken down the top four theories on Jon’s return in season six. Take a look for yourself and cast your vote below.
        img.mountains(src="/static/images/splash.svg")
    each option, index in options
        section.voteOption(class=option.orientation + ' ' + option.name)
            img(src="/static/images/" + option.name + '.svg')
            span.voteInfo
                div.label= "Theory " + option.number
                h1.title= option.title
                p.description= option.description
                a(href="/vote?option=" + index)
                    button.cta(class=option.name) vote