extends base

block head 
    link(rel="stylesheet", href="/static/styles/index.css")
    
block content
    section#splash
        img.splash(src="/static/images/title.svg")
        div.intro
            | We know nothing, Jon Snow—but we’ll make our best guess. We’ve broken down the top four theories on Jon’s return in season six. Take a look for yourself and cast your vote below.
        img.mountains(src="/static/images/splash.svg")
    each option, index in options
        section.voteOption(class=option.orientation + ' ' + option.name)
            img(src="/static/images/" + option.name + '.svg')
            span.voteInfo
                div.label= "Theory " + option.number
                h1.title= option.title
                p.description= option.description
                a(href="/vote?option=" + option.name)
                    button.cta(class=option.name) vote
    footer
        #credit
            | A collaboration by:  
            ul 
                li 
                    a(href="http://www.ashleyromo.com") Ashley Romo
                li 
                    a(href="http://www.charliemaynard.com") Charlie Maynard
                li 
                    a(href="http://alec.aivazis.com")  Alec Aivazis
